body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid red;*/
  border-radius:10px;
  position:absolute;
}

.homer {
  background-image: url("img/homer-walking.jpg");
  width: 94px;
  height: 160px;

}

.drunk-homer-right {
  background-image: url("img/drunk-homer-right.jpg");
  width: 109px;
  height: 160px;
}

.drunk-homer-left {
  background-image: url("img/drunk-homer-left.jpg");
  width: 109px;
  height: 160px;
}


.duff {
  background-image: url("img/Duff.png");
  width: 59px;
  height: 109px;

}

.grow {
  transition: all 0.7s ease-in-out;
}

.grow-scale {
  transform: scale(1.2);
}

.rotate {
  transform:rotate(15deg);
}
